.gig {
    display: flex;
    justify-content: center;

    .container {
        width: 1300px;
        padding: 30px 0px;
        display: flex;
        gap: 50px;

        .left {
            width: 866px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .breadcrumbs {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 13px;
                color: #555;
            }

            // h1 {}

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                .pp {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                }

                .stars {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        height: 14px;
                        width: 14px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: bold;
                        color: #ffc108;
                    }
                }
            }

            .slider {
                background-color: #F5F5F5;

                img {
                    max-height: 500px;
                    object-fit: contain;
                }
            }

            h2 {
                font-weight: 400;
            }

            p {
                font-weight: 300;
                color: #555;
                line-height: 25px;
            }

            .seller {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .user {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .stars {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            img {
                                height: 14px;
                                width: 14px;
                            }

                            span {
                                font-size: 14px;
                                font-weight: bold;
                                color: #ffc108;
                            }
                        }

                        button {
                            background-color: white;
                            border: 1px solid gray;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 10px;
                        }
                    }
                }

                .box {
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    margin-top: 20px;
                    padding: 20px;

                    .items {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .item {
                            width: 300px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            margin-bottom: 20px;

                            .title {
                                font-weight: 300;
                            }
                        }
                    }

                    hr {
                        border: 1px solid lightgray;
                        height: 0;
                        margin-bottom: 20px;
                    }
                }
            }

            .reviews {
                margin-top: 50px;

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin: 20px 0px;

                    .user {
                        display: flex;
                        align-items: center;

                        .pp {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }

                        .country {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: gray;

                            img {
                                width: 20px;
                            }
                        }

                    }
                    .stars {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        img {
                            height: 14px;
                            width: 14px;
                        }

                        span {
                            font-size: 14px;
                            font-weight: bold;
                            color: #ffc108;
                        }
                    }

                    .helpful {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 14px;
                        }
                    }
                }
                
                hr {
                    height: 0;
                    border: 0.5px solid lightgray;
                    margin: 50px 0px;
                }
            }
        }

        .right {
            width: 433px;
            border: 1px solid lightgray;
            padding: 20px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: sticky;
            height: max-content;
            top: 150px;
            max-height: 500px;

            .price {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-weight: 300;
                }

                h3 {
                    font-weight: 500;
                }
            }

            p {
                color: gray;
                margin: 10px 0px;
            }

            .details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 20px;
                    }
                }
            }

            .features {
                display: flex;
                gap: 10px;
                flex-direction: column;

                .item {
                    display: flex;
                    align-items: center;
                    font-weight: 300;
                    color: gray;
                    gap: 10px;

                    img {
                        width: 14px;
                    }
                }
            }

            button {
                background-color: #1dbf73;
                color: white;
                padding: 10px;
                border: none;
                cursor: pointer;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}