.login{
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 100px;
        color: gray;
        align-items: center;
        font-weight: 300;
        
        h1 {
            text-align: center;
        }

        form {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                margin-bottom: 10px;
                padding: 10px;
                cursor: pointer;
            }

            button {
                padding: 10px;
                border: none;
                cursor: pointer;
                background-color: #1dbf73;
                color: white;
                border-radius: 5px;
                margin-top: 20px;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}