.featured {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

    .container {
        width: 1200px;
        display: flex;
        align-items: center;

        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 40px;
                i {
                    font-weight: 300;
                }
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;
                
                .searchInput {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 20px;
                        width: 20px;
                        margin: 10px;
                    }

                    input {
                        border: none;
                        outline: none;
                    }
                }
                button {
                    width: 120px;
                    height: 50px;
                    cursor: pointer;
                    color: white;
                    background-color: #1dbf73;
                    border: none;
                    border-radius: 0 5px 5px 0;
                }
            }


            .popular {
                display: flex;
                align-items: center;
                gap: 10px;
                span {
                }
                button {
                    background-color: transparent;
                    color: white;
                    border: 1px white solid;
                    border-radius: 20px;
                    padding: 5px 10px;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }

        .right {
            height: 100%;
            img {
            height: 100%;
            object-fit: contain;
            }
        }
    }
}