.gigs {
    display: flex;
    justify-content: center;

    .container {
        width: 1200px;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .breadcrumbs {
             font-weight: 300;
             font-size: 13px;
             color: #555;
        }

        p {
            color: #999;
            font-weight: 300; 
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                 display: flex;
                 align-items: center;
                 gap: 15px;
                 color: #555;
                 font-weight: 300;

                 input {
                    padding: 5px;
                    border: 1px solid lightgray;

                    &::placeholder {
                        color: gray;
                    }
                 }

                 button {
                    background-color: #1dbf73;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: 500;
                    padding: 5px 10px;
                 }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;

                .sortBy {
                    color: #555;
                    font-weight: 300;
                }

                .sortType {
                    font-weight: 500;
                }

                img {
                    width: 15px;
                    cursor: pointer;
                }

                .rightMenu {
                    padding: 20px;
                    background-color: white;
                    border-radius: 5px;
                    border: 0.5px solid lightgray;
                    position: absolute;
                    top: 30px;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    color: #555;

                    span {
                        cursor: pointer;
                    }
                }

            }
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between ;
        }

    }
}